<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>后台管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/layui@2.6.8/dist/css/layui.css">
    <script src="https://cdn.jsdelivr.net/npm/layui@2.6.8/dist/layui.js"></script>
    <style>
        body {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">YZSZCMS管理系统</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="//t.cn/RCzsdCq" class="layui-nav-img">
                        {:$user}
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="{:url('admin/logout')}">退出</a></li>
            </ul>
        </div>