 <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                    <li class="layui-nav-item"><a href="">系统配置</a></li>
                    <li class="layui-nav-item"><a href="">菜单设置</a></li>
                    <li class="layui-nav-item"><a href="">会员管理</a></li>
                    <li class="layui-nav-item"><a href="">发布内容</a></li>
                </ul>
            </div>
        </div>