
<style>
    .menu-item {
        padding: 8px 0;
        border-bottom: 1px solid #eee;
    }
    .menu-item .actions {
        visibility: hidden;
    }
    .menu-item:hover .actions {
        visibility: visible;
    }
    .sub-menu {
        margin-left: 30px;
    }
</style>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    菜单管理
                    <a href="{:url('admin/menu/add')}" class="layui-btn layui-btn-normal layui-btn-sm" style="float:right;">添加菜单</a>
                </div>
                <div class="layui-card-body">
                    <div id="menu-list">
                        {foreach $menus as $menu}
                        <div class="menu-item" data-id="{$menu.id}">
                            <div style="display: flex; justify-content: space-between;">
                                <div>
                                    {if $menu.icon}<i class="{$menu.icon}"></i>{/if}
                                    {$menu.name}
                                    {if $menu.url} <small style="color: #999;">({$menu.url})</small>{/if}
                                </div>
                                <div class="actions">
                                    <a href="{:url('admin/menu/edit', ['id' => $menu.id])}" class="layui-btn layui-btn-xs layui-btn-primary">编辑</a>
                                    <button class="layui-btn layui-btn-xs layui-btn-danger delete-menu" data-id="{$menu.id}">删除</button>
                                </div>
                            </div>
                            
                            {if isset($menu.children) && !empty($menu.children)}
                            <div class="sub-menu">
                                {foreach $menu.children as $subMenu}
                                <div class="menu-item" data-id="{$subMenu.id}">
                                    <div style="display: flex; justify-content: space-between;">
                                        <div>
                                            {if $subMenu.icon}<i class="{$subMenu.icon}"></i>{/if}
                                            {$subMenu.name}
                                            {if $subMenu.url} <small style="color: #999;">({$subMenu.url})</small>{/if}
                                        </div>
                                        <div class="actions">
                                            <a href="{:url('admin/menu/edit', ['id' => $subMenu.id])}" class="layui-btn layui-btn-xs layui-btn-primary">编辑</a>
                                            <button class="layui-btn layui-btn-xs layui-btn-danger delete-menu" data-id="{$subMenu.id}">删除</button>
                                        </div>
                                    </div>
                                </div>
                                {/foreach}
                            </div>
                            {/if}
                        </div>
                        {/foreach}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(['jquery', 'layer'], function() {
        var $ = layui.jquery;
        var layer = layui.layer;
        
        $('.delete-menu').on('click', function() {
            var id = $(this).data('id');
            layer.confirm('确定要删除这个菜单吗？', {icon: 3, title:'提示'}, function(index){
                $.ajax({
                    url: '{:url("admin/menu/delete", ["id" => "__ID__"])}'.replace('__ID__', id),
                    type: 'POST',
                    data: {
                        _method: 'DELETE'
                    },
                    success: function(res) {
                        if (res.code === 0) {
                            layer.msg('删除成功', {icon: 1});
                            setTimeout(function() {
                                location.reload();
                            }, 1000);
                        } else {
                            layer.msg('删除失败：' + res.msg, {icon: 2});
                        }
                    },
                    error: function() {
                        layer.msg('删除失败：网络错误', {icon: 2});
                    }
                });
                layer.close(index);
            });
        });
    });
</script>
